.desc{
    font-size: 1vw;
    line-height: 1.2;
    margin-bottom: 0;
    height: 10vw;
    margin-top: 3vw;
}
.card_lower{
    margin-top:1.8vw;
}
.title{
    font-size: 0.8vw;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0.5vw;
    line-height: 1;
    color: rgb(66, 103, 178);
}
.name{
    font-size: 1.2vw;
    text-align: center;
    margin-bottom: 0px;
    color: rgb(66, 103, 178);
}
.card_main {
    background-color: rgb(73, 70, 70);
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    position: relative;
    padding: 20px
}

.card_img {
    width: 7vw !important;
    height: 7vw;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    display: block;
    top: calc(10vw - 70%);
    margin: auto;
    z-index: 1;
}
.card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.owl-carousel .active > .card_main {
    margin-inline: auto;
}
.owl-carousel .active .owl-theme{
    text-decoration: none !important;
    outline: none !important;
}
.owl-theme .owl-dots .owl-dot {
    width: max-content;
}
.owl-theme .owl-dots .owl-dot span {
    margin: 0 !important;
    margin-inline: 15px !important;
    width: 10px !important;
    height: 10px !important;
}
@media screen and (max-width: 992px){
    .owl-theme .owl-dots .owl-dot span {
        width: 5px !important;
        height: 5px !important;
    }
    .card_lower{
        margin-top:9vw;
    }
    .card_main{
        width: 30vw;
        height: 34vw;
    }
    .card_img {
        width: 10vw !important;
        height: 10vw;
        top: calc(10vw - 43%);
    }
    .title{
        font-size: 1.4vw;
    }
    .desc{
        font-size: 1.5vw;
        height: 10vw;
        margin-top: 6vw;
    }
    .name{
        font-size: 1.7vw;
    }
}
@media screen and (max-width: 768px){
    .card_main{
        width: 37vw;
        height: 37vw;
    }
    .card_lower{
        margin-top:5vw;
    }
    .card_img {
        width: 15vw !important;
        height: 15vw;
        top: calc(10vw - 47%);
    }
    .desc{
        font-size: 1.7vw;
        margin-top: 6vw;
        height: 15vw;
    }
    .name{
        font-size: 2.3vw;
    }
}
@media screen and (max-width: 540px){
    .card_main{
        width: 47vw;
        height: 47vw;
    }
    .card_lower{
        margin-top:13vw;
    }
    .card_img {
        width: 18vw !important;
        height: 18vw;
        top: calc(10vw - 40%);
    }
    .desc{
        font-size: 2.2vw;
        margin-top: 7vw;
        height: 12vw;
    }
    .name{
        font-size: 2.3vw;
    }
    .title{
        font-size: 2vw;
    }
    .owl-theme .owl-dots .owl-dot span {
        margin-inline: 8px !important;
    }
}














/* .project{
    background-color: 
    #464242;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 4.5vw;
}
.archid{
    background-color: white;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.testimonial{
    background-color: white;
    padding-top: 3vw;
    padding-bottom: 1vw;
}
.archid h6{
    color: black;
    position: relative;
    padding-left: 7vw;
    font-size: 2vw;
    max-width: 57vw;
}
.archid h6:after{
    content: "";
    display: block;
    width: 20vw;
    top:50%;
    right: 0;
    height: 1.5px;
    position: absolute;
    background: black;
}
.small{
    text-align: center;
}
.archimg{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://firebasestorage.googleapis.com/v0/b/archid-builders.appspot.com/o/home%2FARCHID%20BUILDER%20HIGHLIGHT%20PHOTO.jpg?alt=media&token=bc6eb8f9-4cf6-4e39-9b8c-032ac49a8069");
    background-size: cover;
    background-position: center;
    margin-top: 3vw;
    display: flex;
    color: white;
    font-size: 2.2vw;
    font-weight: 600;
    padding-left: 11vw;
    padding-right: 11vw;
    justify-content: space-between;
    align-items: center;
    height: 12vw;
    width: 100%;
    object-fit: cover;
}
.archid_no{
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 10px;
}
.testimonial h6{
    color: black;
    position: relative;
    padding-left: 7vw;
    font-size: 2vw;
    max-width: 42vw;
}
.testimonial h6:after{
    content: "";
    display: block;
    width: 20vw;
    top:50%;
    right: 0;
    height: 1.7px;
    position: absolute;
    background: black;
}
.highlights{
    padding-top: 5vw;
    padding-left: 3%;
}
.highlights h6{
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 1.1vw;
    max-width: 29vw;
    
}
.highlights h6:after{
    content: "";
    display: block;
    width: 10vw;
    top:40%;
    right: 25%;
    
    height: 1px;
    position: absolute;
    background: rgb(255, 255, 255);
}
.anim h6{
    animation-name: textzoom;
    animation-duration: 3s;
    align-items: center;
    display: flex;
    gap: 1.25vw;
    width: max-content;
}
.anim h6:hover{
    animation: textzoom 3s linear ;
}
.anim img{
    width: 3vw;
    animation-name: textzoom;
}
.anim3 img{
width: 4vw;
}
.anim2 h6{
    animation-delay: 2s;
}
.anim3 h6{
    animation-delay: 4s;
}

@keyframes textzoom{ 
    0%,100%{ 
        transform: scale(1); 
        margin-left: 0;
    } 
     
    40%,60%{ 
        margin-left: 0;
        transform: scale(1.5);
    } 
}
.test{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/archid-builders.appspot.com/o/home%2FARCHID%20BUILDER%20HIGHLIGHT%20PHOTO.jpg?alt=media&token=bc6eb8f9-4cf6-4e39-9b8c-032ac49a8069");
    background-size: cover;
    background-position: center;
    margin-top: 3vw;
    padding-bottom: 2vw;
}
@media screen and (max-width: 1000px) {
    .archimg{
        font-size: 3.5vw;
    }
    .archid_no{
        font-size: 3.7vw;
    }
    .anim p{
        font-size: 2.5vw !important ;
    }
    .anim h6{
        font-size: 2.8vw !important ;
    }
  .highlights h6{
    font-size: 2.8vw;
    max-width: 52vw;
  }
  .testimonial h6{
    font-size: 2.8vw;
    max-width: 48vw;
}
.archid h6{
    font-size: 2.8vw;
    max-width: 69vw;
}
} */
