@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

.banner-search-filter {
   
    background-color: white;
    padding: 10px 30px;
    max-width: 900px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 500px;
    margin: 0 auto;
    z-index: 1;

   
}

.banner-search {
    max-width: 293px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    max-width: 190px;
    width: 100%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #646060;
}

@media screen and (max-width: 760px) {
    
.banner-search-filter {
  
    padding: 5px 10px;
    max-width: 900px;
    top: 400px;

   
}

.banner-search {
    max-width: 223px;
    height: 80px;
   
}

.banner-search-button {
    
    padding: 5px 15px;
    max-width: 170px;
    font-size: 8px;
    line-height: 10px;
  
}
    
   
  }
@media screen and (max-width: 576px) {
    
.banner-search-filter {
  
    padding: 5px 20px;
    top: 350px;
}

.banner-search-button {
    font-size: 10px;
    
}
    
  }

  


