.home{
    color: #fff;
}

.ongoing-box img {
    width: 100%;
    height: 500px;
}

.ongoing-box h2,h1, h3, h4,h5,h6,p{
    color: #fff;
    
}
.ongoing-box hr {
    color: #fff;
    opacity: 1;
    margin: 10px 90px;
}
.show-image {
    width: 100vw !important;
    height: 100vh !important;
    object-fit: contain;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.881);
  }
  