@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.highlights {
    padding: 50px 80px;
}

.highlights-heading {
    display: flex;
    align-items: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: #FFFFFF;
}

.highlights-line {
    margin-left: 10px;
    width: 260px;
    border-top: 1px solid #FFFFFF;
}

.highlights-image {
    width: 229px;
    height: 101px;
}

@media screen and (max-width:1280px) {
    .highlights {
        padding: 50px 30px;
    }

    .highlights-image {
        width: 180px;
        height: 80px;
    }
}

@media screen and (max-width:600px) {
    .highlights-heading {
        font-size: 13px;
    }

    .highlights-line {
        width: 150px;
    }

    .highlights-image {
        width: 160px;
       
    }
}