.Communities{
    color: #fff;
    /* background-image: linear-gradient(rgba(129, 124, 124, 0.5)30%,rgba(129, 124, 124, 0.5)30%), url('https://i.gifer.com/XTpm.gif');
    background-position: center; */
    
    
}
.check img{ 
    height: 500px;
}
.ongoing-box img {
    width: 100%;
    height: 500px;
}

.ongoing-box h2,h1, h3, h4,h5,h6,p{
    color: #fff;
    
}
.ongoing-box hr {
    color: #fff;
    opacity: 1;
    margin: 10px 90px;
}
.white-text{
    color: white !important;
}
.black-text{
    color:#4b4949 !important;
}
.textline{
    display:flex;
   align-items: center;
    padding-top: 48px;
    padding-bottom: 23px;
  }
  .textline h4{
    margin:0px;
    font-size:12px;
    font-family: sans-serif ;
  }
  .hrline{
    width:100px;
  }