.single-property-surrounding{
    padding: 53px 73px;
    display: flex;
    flex-direction: column;
}

.single-property-surrounding-heading{
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 48px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-bottom: 50px;
}

.surrounding-line{
    width: 234px;
margin-left: 10px;
border-top: 1px solid #FFFFFF;
}

