.landing-image{
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-property-button-group{
    position: absolute;
    top: 400px;
    right: 30px;
    display: flex;
    margin-left: 10px;
 
}
.single-property-request-button{
    padding: 4px 30px;
background: #3171B1;
font-weight: 400;
font-size: 16px;
line-height: 48px;
color: #FFFFFF;
}

.detail-1{
    background-color: azure;
    /* color: black !important; */
    margin: 60px 0px !important;
    padding: 20px;
}
.detail-1 hr ,h5{
    /* color: black !important; */
}
.detail-2{
    background-color: azure;
    height: 100%;
    padding: 70px;
}
.detail-2 p{
    font-size: 25px;
}
.detail-3{
    background-color: azure;
    height: 100%;
    
    padding: 70px;
}
.detail-3 p{
    font-size: 25px;
}
.detail-img{
    width: 230px;
    height: 120px;
}