.landing-image{
    height: 100vh;
}
.landing-image img{
    height: 95%;
    width: 100%;
}
.button-grp{
    position: absolute;
    bottom: 0vw;
    right: 5vw;
 
}
.button-grp .btn{
    border-radius: 0;
}
/* .single_background{
    background-image: linear-gradient(rgba(129, 124, 124, 0.5)30%,rgba(129, 124, 124, 0.5)30%), url('https://i.gifer.com/LSsT.gif');
} */
.detail-1{
    background-color: azure;
    /* color: black !important; */
    margin: 60px 0px !important;
    padding: 20px;
}
.detail-1 hr ,h5{
    /* color: black !important; */
}
.detail-2{
    background-color: azure;
    height: 100%;
    padding: 70px;
}
.detail-1 h5{
    text-align: start;
}
.detail-2 h5{
    text-align: start;
}
.detail-3 h5{
    text-align: start;
}
.detail-2 p{
    font-size: 25px;
    text-align: start;
}
.detail-3{
    background-color: azure;
    height: 100%;
    
    padding: 70px;
}
.detail-3 p{
    font-size: 25px;
    text-align: start;
}
.detail-img{
    width: 230px;
    height: 120px;
}