@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@700&display=swap');
.offer-background-container {
 height: 769px;
  background-image: url("offer_picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 76px 106px;
}

.offer-heading{
  display: flex;
  align-items: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 48px;
  
  color: #1E1919;
}

.offer-line{
  width: 190px;
border-top: 2px solid #2C2828;
margin-left: 15px;
}

.offer-text{
  margin-top: 170px;
  display: flex;
  justify-content: space-around;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 48px;
letter-spacing: 0.44em;
color: #000000;
}

.linear-bar-color-pr{
  background: linear-gradient(89.81deg, #196ED2 26.04%, #311A73 85.89%);
}

@media screen and (max-width:1100px) {
  .offer-background-container {
    height: 650px;
    
   }
   
   .offer-heading{
    
     font-size: 35px;
     line-height: 40px;
     
   
   }
   
   .offer-line{
     width: 140px;
  
   }
   
   .offer-text{
    

   font-size: 45px;
   line-height: 40px;
 
   }
   
  
}
@media screen and (max-width:995px) {
  .offer-background-container {
    height: 600px;
    padding: 50px 60px;
    
   }
   
   .offer-heading{
    
     font-size: 30px;
     line-height: 35px;
     
   
   }
   
   .offer-line{
     width: 100px;
  
   }
   
   .offer-text{
    

   font-size: 38px;
   line-height: 30px;
 
   }
   
  
}
@media screen and (max-width:730px) {
 
   
   .offer-text{
   font-size: 30px;
   line-height: 30px;
letter-spacing: 0.3em;
   }
   
  
}
@media screen and (max-width:530px) {
  .offer-heading{
    
    font-size: 25px;
    line-height: 25px;
    margin-left: -20px;
    
  
  }
  .offer-line{
    width: 80px;
 
  }
 
  .offer-background-container {
    height: 480px;
  
     padding:  50px;
   }
   .offer-text{
  margin-top: 120px;
    

   font-size: 25px;
  
letter-spacing: 0.2em;

 
   }
   
  
}
